<div id="carousel{{ post.id }}" class="carousel slide mb-5" data-bs-ride="carousel">

    <div class="carousel-inner">

        {% if post.imagen %}
            <div class="carousel-item active">
                <img src="{{ post.imagen.url }}"
                     class="d-block w-100 rounded"
                     style="height:500px; object-fit:cover;"
                     alt="{{ post.titulo }}">
            </div>
        {% endif %}

        {% for img in post.imagenes.all %}
            <div class="carousel-item {% if not post.imagen and forloop.first %}active{% endif %}">
                <img src="{{ img.imagen.url }}"
                     class="d-block w-100 rounded"
                     style="height:500px; object-fit:cover;"
                     alt="{{ post.titulo }}">
            </div>
        {% endfor %}

    </div>

    {% if post.imagen or post.imagenes.all %}

        <button class="carousel-control-prev"
                type="button"
                data-bs-target="#carousel{{ post.id }}"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>

        <button class="carousel-control-next"
                type="button"
                data-bs-target="#carousel{{ post.id }}"
                data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>

    {% endif %}

</div>
