.logo-ieee {
    max-height: 180px;
}

.text-justify {
    text-align: justify;
}

.foto-director {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.foto-miembro {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.icono-unete {
    font-size: 3rem;
    color: #ffffff;
}
